<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
        <button mat-button [routerLink]="'/dashboard/question'">Questions</button>
        <button mat-button [routerLink]="'/dashboard/status'">Status</button>
        <button mat-button [routerLink]="'/dashboard/survey'">Survey</button>

    </mat-sidenav>

    <mat-sidenav-content >
       <router-outlet></router-outlet>
        <app-notification></app-notification>
        <app-qr-code></app-qr-code>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
